[all]
localhost

[all:vars]
ansible_connection = local
username = {{ device_username }}
password = {{ device_password }}
transport = nxapi

[leaf-switches]
leaf-1 ansible_host={{ nodes['leaf-1'].management_ip }}

[spine-switches]
spine-1 ansible_host={{ nodes['spine-1'].management_ip }}

[border-routers]
border-1 ansible_host={{ nodes['csr1000v-1'].management_ip }} transport=cli